* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #ffffff;

}

li {
    list-style: none;
}

body {
    margin: 0 auto;
    max-width: 940px;
    background-color: #ffffff;

    font-family: "Cuprum", sans-serif;
}

header {
    background-color: #F3F7FA;
}

.header_menu {
    background-color: #293448;
}

.header_menu li {
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    line-height: 40px;

    text-align: center;
}

/*label*/

.label {
    display: block;
    background-color: #EE3642;
    width: 220px;
    height: 40px;

    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    
    box-shadow: 0 5px 0 0 #B62A2D;
}

.label:hover {
    background-color: #C92C37;
    box-shadow: 0 5px 0 0 #A0202A;
    transition: 0.5s ease;
}

/*search*/

.search {
    display: block;
    width: 240px;
    height: 40px;
    background-image: url(../img/svg/icon-search.svg);
    background-repeat: no-repeat;
}

.search [placeholder] {
    font-family: "Cuprum", sans-serif;
    font-size: 17px;
}

/*bookmarks*/

.bookmarks {
    display: block;
    width: 160px;
    height: 40px;
    background-image: url(../img/svg/icon-bookmark.svg);
    background-repeat: no-repeat;
}

/*basket*/

.basket {
    display: block;
    width: 160px;
    height: 40px;
    background-image: url(../img/svg/icon-cart.svg);
    background-repeat: no-repeat;

}
/*order*/

.order {
    display: block;
    width: 160px;
    height: 40px;

    background-color: #63A63D;
}

/*header decoration*/

.header_img {
    padding: 0 10px;
}

.order:hover {
    background-color: #5FBA2E;
    transition: 0.5s ease;
}

.order:active {
    background-color: #518533;
    color: #93A587;
} 

.header_active:active {
    background-color: #161C28;
    color: #93A587;
}

h1 {
    font-style: italic;
    font-size: 17px;
    color: #ee3643;
}

.address {
    font-size: 14px;
    color: #32425c;
}

.address a {
    border: solid 3px #ffffff;
    font-size: 21px;
    color: #ee3643;
}

.open {
    background-image: url(../img/svg/icon-login.svg);
    background-repeat: no-repeat;

}
.open,.regisration {
    background-color: #ffffff;
    font-size: 21px;
    color: #000000;
}

.open:hover,.regisration:hover {
    color: #F04353;
}

.open:active,.regisration:active {
    color: #C2C2C2;
}

nav {
    background-color: #32425c;
}

nav ul {
    list-style: none;
}

nav a {
    font-size: 17px;
    color: #ffffff;
}

nav a:hover {
    background-color: #293448;
    transition: 0.3s ease-in;
}

nav a:active {
    color: #93A587;
}

/*main*/
.item   {
    display: block;
    width: 300px;
    height: 125px;
}
h2 {
    color: #ffffff;
    font-size: 24px;
}

.name {
    display: block;
    width: 135px;
    height: 40px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
}

.name:hover{
    background-color: rgba(0, 0, 0, .2);
    transition: 0.5s ease-in;
}

.name:active {
    background-color: rgba(0, 0, 0, .3);
}

.slider .name {
    width: 195px;
    background-color: #EC3641;
}

.slider .name:hover {
    background-color: #C92C37;
    transition: 0.5s ease-in;
}
.slider .name:active {
    background-color: #BA2632;
}

.item {
    display: inline-block;
}

.matireals {
    background-color: #FFBE46;
    background-image: url(../img/svg/icon-1.svg);
    background-repeat: no-repeat;
}

.instryment {
    background-color: #3BBCE3;
    background-image: url(../img/svg/icon-2.svg);
    background-repeat: no-repeat;
}

.equipment {
    background-color: #DD91D9;
    background-image: url(../img/svg/icon-3.svg);
    background-repeat: no-repeat;
}

.sales {
    background-color: #8ED78E;
    background-image: url(../img/svg/icon-4.svg);
    background-repeat: no-repeat;
}

.delivery {
    background-color: #FEC047;
    background-image: url(../img/svg/icon-5.svg);
    background-repeat: no-repeat;
}

.slider {
    width: 620px;
    height: 265px;
    background-image: url(../img/job.jpg);
    background-repeat: no-repeat;

}

.popular {
    height: 90px;
    background-color: #F9F6F1;
}

.popular p:first-of-type {
    line-height: 40px;
    text-transform: uppercase;
    font-size: 30px;
    color: #000000;
}

.popular .name {
    width: 225px;
    background-color: #EC3641;
}

.popular .name:hover {
    background-color: #C92C37;
    transition: 0.5s ease-in;
}
.popular .name:active {
    background-color: #BA2632;
}

.products li {
    display: inline-block;
    vertical-align: middle;
}

 li .catalog {
    width: 200px;
    height: 318px;
    margin: 20px 20px 20px 0px;
    border: solid 1px lightgrey;
    color: black;
    
}

li:not(:first-of-type) .catalog {
    margin-left: -4px;

}
