* {
    margin: 0px;
}

body {
    margin: 0 auto;
    max-width: 950px;
    padding: 40px 0;

    font-family: "Cuprum", sans-serif;
}

.header_menu {
    position: absolute;
    top: 0;
    left: 0;

    background-color: #293448;
    width: 100%;
    height: 40px;
}

.header_menu ul {
    margin: 0 auto;
    width: 950px;
    height: 40px;
}

.header_menu li {
    display: inline-block;
}

/*label*/

.label {
    display: block;
    background-color: #EE3642;
    width: 220px;
    height: 40xp;

    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    color: #F4FDFB;
    
    box-shadow: 0 5px 0 0 #B62A2D;
}

.label:hover {
    background-color: #C92C37;
    box-shadow: 0 5px 0 0 #A0202A;
    transition: 0.5s ease;
}

/*search*/

li .search {
    display: block;
    width: 260px;
    height: 40px;

    background-color: #EE3642;

}
